<script setup lang="ts">

import { useMemberStore } from '@/stores/member';
import { useReceipStore } from '@/stores/receip';
import { ref } from 'vue';

const tel = ref('')
const memberStore = useMemberStore()
const receipStore = useReceipStore()
function onClick() {
    memberStore.searchMember(tel.value)
    receipStore.calReceipt()
}
</script>
<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="6">
                <v-text-field v-model="tel" density="compact" variant="solo" label="Search templates"
                    append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
                    @keyup.enter="onClick">
                </v-text-field>
            </v-col>
            <v-col cols="6" class="pa-2 text-center">
                {{ memberStore.currentMember ? memberStore.currentMember?.name : 'ไม่พบ' }}
            </v-col>
        </v-row>
    </v-container>
</template>