<script setup lang="ts">
import { nextTick, ref } from 'vue';

import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'

import ReceipDetailTable from './ReceipDetailTable.vue';
import ReceipCard from './ReceipCard.vue';
import ProductList from '@/components/ProductList.vue';
import MemberCard from './MemberCard.vue';
import ReceiptDialog from './ReceiptDialog.vue';

import { useReceipStore } from '@/stores/receip'
import { provide } from 'vue';

const dialog = ref(false)
provide(`receiptDialog`, dialog)
const receipStore = useReceipStore()
const tab = ref(1)
const selected = (p: Product) => {
    console.log(`ProductView` + p)
    receipStore.addReceiptItem(p)
    nextTick(() => { if (divreceipItems.value) divreceipItems.value.scrollTo(0, divreceipItems.value.scrollHeight) })
}
const showReceipt = function () {
    receipStore.showReceiptDialog()
}
const products1: Product[] = [
    {
        id: 1, name: 'ลาเต้ ร้อน1', price: 35.00, type: 1
    },
    {
        id: 2, name: 'ลาเต้ ร้อน2', price: 40.00, type: 1
    },
    {
        id: 3, name: 'ลาเต้ ร้อน3', price: 35.00, type: 1
    },
    {
        id: 4, name: 'ลาเต้ ร้อน4', price: 50.00, type: 1
    },
    {
        id: 5, name: 'ลาเต้ ร้อน5', price: 30.00, type: 1
    },
    {
        id: 6, name: 'ลาเต้ ร้อน6', price: 25.00, type: 1
    },
    {
        id: 7, name: 'ลาเต้ ร้อน7', price: 45.00, type: 1
    },
    {
        id: 8, name: 'ลาเต้ ร้อน8', price: 55.00, type: 1
    },
    {
        id: 9, name: 'ลาเต้ ร้อน9', price: 30.00, type: 1
    }
]
const products2: Product[] = [
    {
        id: 1, name: 'ลาเต้ ร้อน1', price: 35.00, type: 1
    },
    {
        id: 2, name: 'ลาเต้ ร้อน2', price: 40.00, type: 1
    }
]
const products3: Product[] = [
    {
        id: 1, name: 'ลาเต้ ร้อน1', price: 35.00, type: 1
    },
    {
        id: 2, name: 'ลาเต้ ร้อน2', price: 40.00, type: 1
    },
    {
        id: 3, name: 'ลาเต้ ร้อน3', price: 35.00, type: 1
    }
]
const divreceipItems = ref<HTMLLIElement | null>(null)


</script>
<template>
    <v-container>
        <v-row>
            <v-col col="12" md="6" style="background-color: blanchedalmond;">
                <v-container style="padding: 0;">
                    <v-row>
                        <v-col col="12">
                            <div ref="divreceipItems" style="height: 300; overflow: auto;">
                                <v-sheet min-width="300" max-width="600" height="250" elevation="6">
                                    <ReceipDetailTable></ReceipDetailTable>
                                </v-sheet>
                            </div>
                        </v-col>

                        <v-col col="12">
                            <v-sheet min-width="500" max-width="600" height="60">
                                <MemberCard></MemberCard>
                            </v-sheet>
                        </v-col>

                        <v-col col="12">
                            <v-sheet min-width="500" max-width="600" height="120">
                                <ReceipCard></ReceipCard>
                            </v-sheet>
                        </v-col>

                        <v-col col="12">
                            <v-sheet min-width="500" max-width="600" height="80">
                                <v-container><v-row>
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="xl" size="large">ยกเลิก</v-btn>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="xl" color="primary" size="large"
                                                @click="showReceipt()">ชำระเงิน</v-btn>
                                        </v-col>
                                    </v-row></v-container>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
            <v-col col="12" md="6" style="background-color: aliceblue">
                <v-sheet min-width="500" max-width="600" height="600">
                    <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                        <v-tab :value="1">เครื่องดื่ม</v-tab>
                        <v-tab :value="2">ขนม</v-tab>
                        <v-tab :value="3">น้ำ</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                        <v-window-item :value="1">
                            <ProductList :products="products1" @selected-product="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="2">
                            <ProductList :products="products2" @selected-product="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="3">
                            <ProductList :products="products3" @selected-product="selected"></ProductList>
                        </v-window-item>
                    </v-window>
                </v-sheet>
            </v-col></v-row>
    </v-container>
    <ReceiptDialog></ReceiptDialog>
</template>