<script lang="ts" setup>
import { useReceipStore } from '@/stores/receip';
import { type Ref, inject } from 'vue';

// const dialog = inject<Ref<boolean>>(`receiptDialog`)
const receipStore = useReceipStore()
</script>
<template>
    <v-dialog v-model="receipStore.receiptDialog" persistent width="auto">
        <template v-slot:activator="{ props }">
            <v-btn color="primary" v-bind="props">
                Open Dialog
            </v-btn>
        </template>
        <v-card>
            <v-card-title class="text-h5">
                Receipt
            </v-card-title>
            <v-card-text>{{ receipStore.receipt }}</v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green-darken-1" variant="text" @click="receipStore.receiptDialog = false">
                    Disagree
                </v-btn>
                <v-btn color="green-darken-1" variant="text" @click="() => {
                    receipStore.receiptDialog = false
                    receipStore.clear()
                }">
                    Agree
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>