<script setup lang="ts">
import { useReceipStore } from '@/stores/receip';

const receipStore = useReceipStore()
</script>
<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="6">ยอดก่อนหัก</v-col><v-col cols="6">{{ receipStore.receipt?.totalBefor }}</v-col>
            <v-col cols="6">ส่วนลดสมาชิก</v-col><v-col cols="6">{{ receipStore.receipt?.memberDiscount }}</v-col>
            <v-col cols="6">ยอดรวม</v-col><v-col cols="6">{{ receipStore.receipt?.total }}</v-col>
        </v-row>
    </v-container>
</template>